<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Btb: Add Book</title>
    {% load static %}
    <style>
         body{
            background-image: url({% static 'bg2.jpg' %});
            
            
        }

        .navbar{
            background-color:  white;
        }

        a.mlink:hover{
            color:maroon;
        }
        .mlink{
            color: maroon;
        }

        .white{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }



    </style>
  </head>
  <body>
        <nav class="navbar navbar-light pt-0 pb-0 mb-5" >
                <a class="navbar-brand" href="#">
                        <img src="{% static 'bb_logo.png' %}"   class="d-inline-block align-top m-0" alt="">
                        <span class="navbar-text  ml-auto ">
                                
                            </span>
                </a>
                <div class="right_align_nav">
                       
                        <a class='mlink ' href="/home">Home</a> | <a class='mlink' href='/logout'>Logout</a>
                    </div>
        </nav>
        <h3 class='white'><u>Add a New Book and a Review</u></h3>

        <div class='container white'>
            <form action='/add_process' method='post'>
                {% csrf_token%}
                    <div class="form-group">
                            <label for="exampleFormControlInput1"><h4>Book Title:</h4></label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name='title'>
                    </div>
                    <h4>Author:</h4>
                    <select class="form-control" name = 'author'>
                            <option value="False">Registered Authors</option>
                        {% for author in authors %}
                            <option value = '{{author.id}}'>{{author.first_name|title}} {{author.last_name|title}}</option>
                        {% endfor %}
                    </select>

                    <div class="form-group">
                            <label for="exampleFormControlInput1"><h4>Or add a new author:</h4></label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name" name='na_fn'>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name" name='na_ln'>
                    </div>
                    <label for="exampleFormControlTextarea1"><h4 class='white'>Review:</h4></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='review'></textarea>
                    <h4 class='white'>Rating</h4>
                    <select class="form-control" name = 'rating'>
                            <option value = 1 >1</option>
                            <option value = 2 >2</option>
                            <option value = 3 >3</option>
                            <option value = 4 >4</option>
                            <option value = 5 >5</option>
                        
                    </select>
                    <button type="submit" class="btn btn-outline-light">Submit</button>
            </form>

        </div>


    

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>